.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #3d464d;
    opacity: 0.99;
    img {
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 50%;
        top: 50%;
        margin: -6rem;
    }
}

